---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import { getCollection } from 'astro:content';

import Image from 'astro/components/Image.astro';
import flyfoto from '../images/flyfoto.jpg';

const innlegg = await getCollection('innlegg');
const sorted = innlegg.sort((a, b) => b.data.datoPublisert - a.data.datoPublisert);
---

<BaseLayout>
  <div class="page">
    <main class="left">
      <header>
        <h1>Sæstad Hyttevel</h1>
        <nav aria-label="Hovedmeny">
          <a href="/" aria-current="page">Nyheter</a>
          <a href="/kategorier">Kategorier</a>
          <a href="/om">Om og kontakt</a>
        </nav>
      </header>

      <ul class="post-list">
        {sorted.map(innlegg => (
          <li>
            <PostPreview innlegg={innlegg} />
          </li>
        ))}
      </ul>
    </main>

    <figure class="right" aria-hidden="true">
		<Image src={flyfoto} alt="" layout="intrinsic" width={800} height={600} />
    </figure>
  </div>
</BaseLayout>