---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';

import Image from 'astro/components/Image.astro';
import flyfoto from '../images/flyfoto.jpg';
---

<BaseLayout>
  <div class="page">
    <main class="left">
      <header>
        <h1>Sæstad Hyttevel</h1>
        <nav aria-label="Hovedmeny">
          <a href="/" aria-current="page">Nyheter</a>
          <a href="/kategorier">Kategorier</a>
          <a href="/om">Om og kontakt</a>
        </nav>
      </header>

      <ul class="post-list">
		<PostPreview />
      </ul>
	  
    </main>

    <figure class="right" aria-hidden="true">
		<Image src={flyfoto} alt=""/>
    </figure>
  </div>
</BaseLayout>